<h1><%= @room.name %></h1>
<p><i><%= @room.description %></i></p>
<p id="logged-user"><%= @logged_user.id %></p>
<p id="room-id"><%= @room.id %></p>
<div id="messages-block">
  <% @room.messages.each do |m| %>
    <div id="message">
      <h4><%= m.user %></h4>
      <p><%= m.content %></p>
    </div>
  <% end %>
  
</div>
<div id="message-form">
  <form>
    <input id="message-content" type="text" placeholder="Enter a message...">
    <input type="submit" value="Send">
  </form>
</div>

<script>
  const form = document.querySelector("#message-form")
  form.addEventListener("submit", (e) => {
    e.preventDefault()
    fetch("https://chat-client.jacobcook4.repl.co/messages/", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        "X-CSRF-TOKEN": document.querySelector("meta[name=csrf-token]").content
      },
      body: JSON.stringify({
        content: document.querySelector("#message-content").value,
        room: parseInt(document.querySelector("#room-id").innerHTML),
        user: parseInt(document.querySelector("#logged-user").innerHTML)
      })
    })
    document.querySelector("message-content").value = ""
  })
</script>